*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  transition: all 0.3s;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 54%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 51%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 1.8rem;
  color: #242b37;
}

h1 {
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 7.2rem;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 4.8rem;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 4rem;
    line-height: 5.3rem;
  }
}

h2 {
  font-size: 4rem;
  line-height: 5.6rem;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 770px) {
  h2 {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.8rem;
}

p {
  line-height: 3rem;
}

.white {
  color: #FFFFFF;
}

.btn {
  padding: 2.5rem 5.4rem;
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

.btn span {
  color: #FFFFFF;
  position: relative;
  z-index: 10;
}

.btn:hover span {
  color: #111111;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10%;
  height: 100%;
  width: 0;
  background-color: #FFFFFF;
  transform: skewX(25deg);
  transition: width .5s;
}

.btn:hover::before {
  width: 120%;
}

.btn--transparent {
  border: 1px solid #FFFFFF;
}

.btn--black {
  background: #111111;
  border: 1px solid #111111;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.header {
  background-image: url("./../../../images/homepage/hero-bg-desktop.jpg");
  background-color: #111111;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 5rem 0 20rem;
}

@media screen and (max-width: 1200px) {
  .header {
    background-image: url("../../../images/homepage/hero-bg-tablet.jpg");
  }
}

@media screen and (max-width: 540px) {
  .header {
    background-image: url("../../../images/homepage/hero-bg-mobile.jpg");
  }
}

@media screen and (max-width: 1200px) {
  .header__inner {
    margin-top: 30rem;
    text-align: center;
  }
}

.header__logo img {
  width: 10.3rem;
}

.header__textBox {
  color: #FFFFFF;
  margin-top: 17rem;
  max-width: 55rem;
}

@media screen and (max-width: 1200px) {
  .header__textBox {
    margin: auto;
    margin-top: 3rem;
    max-width: 100%;
    text-align: center;
  }
}

.header__textBox--heading {
  letter-spacing: -1px;
  margin-bottom: 2.3rem;
}

.header__textBox--subheading {
  margin-bottom: 4rem;
  max-width: 75%;
}

@media screen and (max-width: 1200px) {
  .header__textBox--subheading {
    max-width: 80%;
    margin: 0 auto 4rem;
  }
}

@media screen and (max-width: 420px) {
  .header__textBox--subheading {
    max-width: 1000%;
    margin: 0 auto 4rem;
  }
}

.features {
  background-image: url("../../../images/patterns/pattern-curve-top-right.svg"), url("../../../images/patterns/pattern-curve-top-left.svg");
  background-repeat: no-repeat;
  background-position: top 32.2rem left, bottom 1rem right;
}

@media screen and (max-width: 1200px) {
  .features {
    background-position: top 32.2rem left -50rem, bottom 1rem right -50rem;
  }
}

@media screen and (max-width: 540px) {
  .features {
    background: none;
  }
}

.features__inner {
  display: flex;
  justify-content: space-between;
  height: 55rem;
  margin-bottom: 12rem;
}

@media screen and (max-width: 1200px) {
  .features__inner {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: initial;
  }
}

.features__imgBox {
  width: 40%;
  background-image: url("../../../images/homepage/enjoyable-place-desktop.jpg");
  background-size: cover;
  box-shadow: 0px 49px 79px 0px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1200px) {
  .features__imgBox {
    width: 60%;
    height: 40rem;
    background-image: url("../../../images/homepage/enjoyable-place-tablet.jpg");
  }
}

@media screen and (max-width: 700px) {
  .features__imgBox {
    width: 58%;
    height: 47rem;
    background-image: url("../../../images/homepage/enjoyable-place-mobile.jpg");
  }
}

@media screen and (max-width: 540px) {
  .features__imgBox {
    width: 100%;
  }
}

.features__textBox {
  width: 60%;
  padding-left: 10rem;
}

@media screen and (max-width: 1200px) {
  .features__textBox {
    width: 70%;
    text-align: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .features__textBox {
    width: 100%;
  }
}

.features__textBox h2 {
  margin: 22rem 0 1.5rem;
  width: 85%;
}

@media screen and (max-width: 1200px) {
  .features__textBox h2 {
    margin: 3rem auto 1.5rem;
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .features__textBox h2 {
    width: 100%;
  }
}

.features__textBox h2::before {
  content: url("../../../images/patterns/pattern-divide.svg");
  display: block;
  width: 100%;
  height: 8.5rem;
}

.features__inner:first-child {
  margin-top: -6rem;
}

.features__inner:last-child {
  flex-direction: row-reverse;
  margin-bottom: -10rem;
}

@media screen and (max-width: 1200px) {
  .features__inner:last-child {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: initial;
    margin-bottom: 0;
  }
}

.features__inner:last-child .features__imgBox {
  position: relative;
  background-image: url("../../../images/homepage/locally-sourced-desktop.jpg");
}

@media screen and (max-width: 1200px) {
  .features__inner:last-child .features__imgBox {
    background-image: url("../../../images/homepage/locally-sourced-tablet.jpg");
  }
}

@media screen and (max-width: 1200px) {
  .features__inner:last-child .features__imgBox {
    background-image: url("../../../images/homepage/locally-sourced-mobile.jpg");
  }
}

.features__inner:last-child .features__imgBox::after {
  content: url("../../../images/patterns/pattern-lines.svg");
  display: block;
  position: absolute;
  right: -5rem;
  top: 6rem;
  width: 18rem;
  height: 9rem;
}

@media screen and (max-width: 1200px) {
  .features__inner:last-child .features__imgBox::after {
    top: 20rem;
  }
}

@media screen and (max-width: 770px) {
  .features__inner:last-child .features__imgBox::after {
    display: none;
  }
}

.features__inner:last-child .features__textBox {
  padding-left: 0;
  padding-right: 10rem;
}

@media screen and (max-width: 1200px) {
  .features__inner:last-child .features__textBox {
    width: 70%;
    text-align: center;
    padding-right: 0;
  }
}

@media screen and (max-width: 700px) {
  .features__inner:last-child .features__textBox {
    width: 100%;
  }
}

.features__inner:last-child .features__textBox h2 {
  margin: 15rem 0 1.6rem;
}

@media screen and (max-width: 1200px) {
  .features__inner:last-child .features__textBox h2 {
    margin: 3rem auto 1.5rem;
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .features__inner:last-child .features__textBox h2 {
    width: 100%;
  }
}

.highlights {
  background: #111111;
  margin-top: 5rem;
  padding: 17rem 0 7rem;
}

@media screen and (max-width: 1200px) {
  .highlights {
    padding-top: 15rem;
  }
}

.highlights__inner {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .highlights__inner {
    flex-direction: column;
    align-items: center;
  }
}

.highlights__textBox {
  padding-right: 10rem;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .highlights__textBox {
    padding-right: 0;
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
  }
}

.highlights__textBox h2 {
  margin-bottom: 2rem;
  max-width: 40rem;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .highlights__textBox h2 {
    max-width: 100%;
  }
}

.highlights__textBox h2::before {
  content: url("../../../images/patterns/pattern-divide.svg");
  width: 100%;
  height: 6.5rem;
  position: absolute;
  top: -8.7rem;
  display: flex;
  justify-content: center;
}

.highlights__dishes {
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .highlights__dishes {
    width: 70%;
  }
}

@media screen and (max-width: 540px) {
  .highlights__dishes {
    width: 100%;
  }
}

.highlights__dish {
  display: flex;
  padding: 2rem 0;
}

.highlights__dish--textBox {
  padding-left: 7rem;
}

.highlights__dish--textBox h3 {
  margin-bottom: 1rem;
}

.highlights__dish--textBox p {
  font-size: 1.5rem;
  line-height: 1.75;
}

.highlights__dish--imgBox {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .highlights__dish--imgBox img {
    width: 100%;
  }
}

.highlights__dish--imgBox::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 26%;
  background-color: #9e7f66;
  top: 1.7rem;
  left: 12.8rem;
}

@media screen and (max-width: 540px) {
  .highlights__dish--imgBox::after {
    display: none;
  }
}

.highlights__dish:not(:last-child) {
  border-bottom: 1px solid #242b37;
}

@media screen and (max-width: 770px) {
  .highlights__dish {
    flex-direction: column;
    align-items: center;
  }
  .highlights__dish--textBox {
    padding-left: 0;
    text-align: center;
    padding: 3.5rem 0 2rem;
  }
  .highlights__dish--textBox h3 {
    font-size: 1.8rem;
  }
  .highlights__dish--textBox p {
    font-size: 1.7rem;
  }
}

.events {
  background-image: url("../../../images/patterns/pattern-curve-top-right.svg");
  background-repeat: no-repeat;
  background-position: top left -40rem;
  padding: 15rem 0 8rem;
}

@media screen and (max-width: 1200px) {
  .events {
    background-position: top left -60rem;
  }
}

@media screen and (max-width: 540px) {
  .events {
    background: none;
  }
}

.events__inner {
  display: flex;
  justify-content: space-between;
}

.events__inner > * {
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .events__inner {
    flex-direction: column;
  }
  .events__inner > * {
    width: 100%;
  }
}

.events__imgBox {
  position: relative;
}

@media screen and (max-width: 770px) {
  .events__imgBox {
    max-width: 65rem;
    margin: 0 auto;
  }
}

.events__imgBox::before {
  content: url("../../../images/patterns/pattern-lines.svg");
  position: absolute;
  height: 7.6rem;
  width: 16rem;
  top: -3.8rem;
  left: -5rem;
}

@media screen and (max-width: 1200px) {
  .events__imgBox::before {
    left: 12rem;
  }
}

@media screen and (max-width: 770px) {
  .events__imgBox::before {
    display: none;
  }
}

.events__imgBox img {
  width: 90%;
  box-shadow: 0px 49px 79px 0px rgba(0, 0, 0, 0.4);
  display: none;
}

@media screen and (max-width: 1200px) {
  .events__imgBox img {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 540px) {
  .events__imgBox img {
    width: 100%;
  }
}

.events__imgBox .showImage {
  display: block;
}

.events__textBox {
  padding: 6rem 5rem;
  max-width: 80rem;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .events__textBox {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .events__textBox {
    padding: 6rem 0;
  }
}

.events__textBox h2 {
  margin-bottom: 2rem;
}

.events__textBox p {
  margin-bottom: 2.5rem;
}

.events__nav {
  margin-top: 3.5rem;
}

@media screen and (max-width: 1200px) {
  .events__nav {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 770px) {
  .events__nav {
    flex-direction: column;
  }
}

.events__item {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgba(76, 76, 76, 0.5);
  position: relative;
}

.events__item::after {
  content: '';
  position: absolute;
  left: -12.5rem;
  height: 1px;
  width: 9rem;
  margin: 5px auto 0;
  background-color: transparent;
  z-index: -1;
}

@media screen and (max-width: 1200px) {
  .events__item::after {
    left: 50%;
    transform: translateX(-50%);
    bottom: -1rem;
    width: 5rem;
  }
}

@media screen and (max-width: 770px) {
  .events__item::after {
    bottom: -.5rem;
  }
}

.events__item:not(:last-child) {
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 1200px) {
  .events__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 770px) {
  .events__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3.5rem;
  }
}

.events__item:hover {
  cursor: pointer;
  color: #4c4c4c;
}

.events__item.active {
  color: #4c4c4c;
}

.events__item.active::after {
  background-color: #9e7f66;
}

.reservation {
  background-image: url("../../../images/homepage/ready-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9rem 0 7rem;
}

@media screen and (max-width: 1200px) {
  .reservation {
    background-image: url("../../../images/homepage/ready-bg-tablet.jpg");
  }
}

.reservation__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .reservation__inner {
    flex-direction: column;
  }
  .reservation__inner .btn {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 540px) {
  .reservation__inner h2 {
    text-align: center;
    line-height: 5rem;
  }
}

.footer {
  background-color: #111111;
  padding: 8rem 0;
}

.footer__grid {
  display: grid;
  grid-template-areas: "box1 box2 box3";
  gap: 3rem;
}

@media screen and (max-width: 1200px) {
  .footer__grid {
    grid-template-areas: "box1 box2" ". box3";
    gap: 5rem;
  }
}

@media screen and (max-width: 770px) {
  .footer__grid {
    grid-template-areas: "box1" "box2" "box3";
    justify-content: center;
    text-align: center;
  }
}

.footer__logo {
  grid-area: box1;
}

.footer__logo img {
  width: 10.3rem;
}

.footer__address {
  grid-area: box2;
}

.footer__openTimes {
  grid-area: box3;
}

.footer li {
  letter-spacing: 1.35px;
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.headerBooking {
  height: 90vh;
  background-image: url("../../../images/booking/hero-bg-desktop.jpg");
  background-size: cover;
  padding-top: 7rem;
  color: #FFFFFF;
  margin-bottom: 30rem;
}

.headerBooking__inner {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 8rem;
}

.headerBooking__form {
  height: 60rem;
  border: 1px solid red;
}

.headerBooking h1 {
  margin-bottom: 2rem;
}
