.events {
    background-image: url('../../../images/patterns/pattern-curve-top-right.svg');
    background-repeat: no-repeat;
    background-position: top left -40rem;
    padding: 15rem 0 8rem;

    @media screen and (max-width: 1200px) {
        background-position: top left -60rem;
    }

    @media screen and (max-width: 540px) {
        background: none;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        > * {
            width: 50%;
        }

        @media screen and (max-width: 1200px) {
            flex-direction: column;

            > * {
                width: 100%;  
            }  
        }
    }

    &__imgBox {
        position: relative;

        @media screen and (max-width: 770px) {
            max-width: 65rem;
            margin: 0 auto;
        }

        &::before {
            content: url('../../../images/patterns/pattern-lines.svg');
            position: absolute;
            height: 7.6rem;
            width: 16rem;
            top: -3.8rem;
            left: -5rem;

            @media screen and (max-width: 1200px) {
                left: 12rem;
            }
            @media screen and (max-width: 770px) {
                display: none;
            }
        }

        img {
            width: 90%;
            box-shadow: $blured-shadow;
            display: none;

            @media screen and (max-width: 1200px) {
                width: 60%;
                margin: 0 auto;
            }

            @media screen and (max-width: 540px) {
                width: 70%;
            }
        }

        .showImage {
            display: block;
        }
    }

    &__textBox {
        padding: 6rem 5rem;
        max-width: 80rem;
        margin: 0 auto;

        @media screen and (max-width: 1200px) {
            text-align: center;
        }

        h2 {
            margin-bottom: 2rem;
        }

        p {
            margin-bottom: 2.5rem;
        }
    }

    &__nav {
        margin-top: 3.5rem;

        @media screen and (max-width: 1200px) {
            margin-top: 5rem;
            display: flex;
            justify-content: center;
        }

        @media screen and (max-width: 770px) {
            flex-direction: column;
        }
    }

    &__item {
        font-size: 1.4rem;
        line-height: 1.4;
        font-weight: 600;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: rgba($color-brown-gray, 0.5);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: -12.5rem;
            height: 1px;
            width: 9rem;
            margin: 5px auto 0;
            background-color: transparent;
            z-index: -1;

            @media screen and (max-width: 1200px) {
                left: 50%;
                transform: translateX(-50%);
                bottom: -1rem;
                width: 5rem;
            }

            @media screen and (max-width: 770px) {
                bottom: -.5rem;
            }
        }

        &:not(:last-child) {
            margin-bottom: 2.5rem;

            @media screen and (max-width: 1200px) {
                margin-bottom: 0;
                margin-right: 5rem;
            }

            @media screen and (max-width: 770px) {
                margin-right: 0;
                margin-bottom: 3.5rem;
            }
        }

        &:hover {
            cursor: pointer;
            color: rgba($color-brown-gray, 1);
        }
    }

    &__item.active {
        color: rgba($color-brown-gray, 1);

        &::after {
            background-color: $color-brown;
        }
    }
}