.features {
    background-image: url('../../../images/patterns/pattern-curve-top-right.svg'), url('../../../images/patterns/pattern-curve-top-left.svg');
    background-repeat: no-repeat;
    background-position: top 32.2rem left, bottom 1rem right;
    margin-top: -8rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        height: 55rem;
        margin-bottom: 12rem;
    }

    &__imgBox {
        flex-basis: 40%;
        background-image: url('../../../images/homepage/enjoyable-place-desktop.jpg');
        background-size: cover;
        box-shadow: $blured-shadow;
    }

    &__textBox {
        flex: 1;
        padding-left: 10rem;

        h2 {
            margin: 22rem 0 1.5rem;
            width: 85%;

            &::before {
                content: url('../../../images/patterns/pattern-divide.svg');
                display: block;
                width: 100%;
                height: 8.5rem;
            }
        }
    }

    &__inner:last-child {
        flex-direction: row-reverse;
        margin-bottom: -12rem;

        .features__imgBox {
            position: relative;
            background-image: url('../../../images/homepage/locally-sourced-desktop.jpg');

            &::after {
                content: url('../../../images/patterns/pattern-lines.svg');
                display: block;
                position: absolute;
                right: -7rem;
                top: 6rem;
                width: 16rem;
                height: 8rem;
            }
        }

        .features__textBox {
            padding-left: 0;
            padding-right: 10rem;

            h2 {
                margin: 15rem 0 1.6rem;
            }
        }
    }
}