.header {
    background-image: url('./../../../images/homepage/hero-bg-desktop.jpg');
    background-color: $color-gray-dark;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 5rem 0 20rem;

    &__logo {
        img {
            width: 10.3rem;
        }
    }

    &__textBox {
        color: $color-white;
        margin-top: 15rem;
        max-width: 55rem;

        &--heading {
            letter-spacing: -1px;
            margin-bottom: 2.3rem;
        }

        &--subheading {
            margin-bottom: 4rem;
            max-width: 75%;
        }
    }
}