.header {
    background-image: url('./../../../images/homepage/hero-bg-desktop.jpg');
    background-color: $color-gray-dark;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 5rem 0 20rem;

    @media screen and (max-width: 1200px) {
        background-image: url('../../../images/homepage/hero-bg-tablet.jpg');
    }

    &__inner {
        margin-top: 50rem;
        text-align: center;
    }

    &__logo {
        img {
            width: 10.3rem;
        }
    }

    &__textBox {
        color: $color-white;
        margin-top: 15rem;
        max-width: 55rem;

        @media screen and (max-width: 1200px) {
            margin:  auto;
            margin-top: 3rem;
            max-width: 100%;
            text-align: center;
        }

        &--heading {
            letter-spacing: -1px;
            margin-bottom: 2.3rem;
        }

        &--subheading {
            margin-bottom: 4rem;
            max-width: 75%;

            @media screen and (max-width: 1200px) {
                max-width: 80%;
                margin: 0 auto 4rem;
            }
        }
    }
}