.reservation {
    background-image: url('../../../images/homepage/ready-bg-desktop.jpg');
    padding: 9rem 0 7rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}