.btn {
    cursor: pointer;
    padding: 2.5rem 5.4rem;
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1.3rem;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;

    span {
        color: $color-white;
        position: relative;
        z-index: 10;
    }

    &:hover span {
        color: $color-gray-dark;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -10%;
        height: 100%;
        width: 0;
        background-color: $color-white;
        transform: skewX(25deg);
        transition: width .5s;
    }
    
    &:hover::before {
        width: 120%;
    }
}

.btn--transparent {
    border: 1px solid $color-white;
}

.btn--black {
    background: $color-gray-dark;
    border: 1px solid $color-gray-dark;
}