.headerBooking {
    height: 90vh;
    background-image: url('../../../images/booking/hero-bg-desktop.jpg');
    background-size: cover;
    padding-top: 7rem;
    color: $color-white;
    margin-bottom: 30rem;

    &__inner {
        margin-top: 12rem;
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 8rem
    }

    &__form {
        height: 60rem;
        border: 1px solid red;
    }

    h1 {
        margin-bottom: 2rem;
    }
}